[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
discord-py = "*"
trueskill = "*"
rapidfuzz = "*"
sqlalchemy = "*"
tabulate = "*"
pytest = "*"
lol-id-tools = "*"
dpytest = "*"

[requires]
python_version = "3.8"
