[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
dpytest = "*"

[packages]
discord-py = "*"
sqlalchemy = "*"
trueskill = "*"
tabulate = "*"
rapidfuzz = "*"
inflect = "*"
dateparser = "*"
mplcyberpunk = "*"
lol-id-tools = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
